<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="./assets/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Apps & Tools</title>
  <style>
    .v-card--reveal {
      bottom: 0;
      opacity: 1 !important;
      position: absolute;
      width: 100%;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
		<v-app-bar app clipped-left style="background-color: white;">
			<v-app-bar-nav-icon @click="homepage.drawer = !homepage.drawer"></v-app-bar-nav-icon>
	
			<v-toolbar-title>Applications</v-toolbar-title>

			<v-spacer></v-spacer>

			<div>
				<v-btn icon>
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
				
				<v-btn icon>
					<v-icon>mdi-apps</v-icon>
				</v-btn>
				
				<v-btn icon>
					<v-icon>mdi-dots-vertical</v-icon>
				</v-btn>
			</div>
		</v-app-bar>
	
		<v-navigation-drawer v-model="homepage.drawer" app clipped>
			<v-list color="white" shaped>
				<template v-for="(sectionItem, sectionIndex) in sections">
					<v-subheader
						:key="sectionItem.name"
                    >
						{{ sectionItem.name }}
                    </v-subheader>
					
					<v-list-item
						v-for="(item, index) in sectionItem.apps"
						:key="item.name"
						:href="item.link"
						:title="item.name + ': ' + item.description"
                    >
						<v-list-item-action>
							<v-icon :color="item.color ? item.color : 'green darken-2'">
								{{ item.icon ? item.icon : 'mdi-application' }}
							</v-icon>
						</v-list-item-action>
						
						<v-list-item-content>
							<v-list-item-title>{{ item.name }}</v-list-item-title>
						</v-list-item-content>
                    </v-list-item>
					
					<v-divider
						:key="sectionIndex"
                    ></v-divider>
				</template>
			</v-list>
		</v-navigation-drawer>
		
      <v-main>
        <v-container>
          <template v-for="section in sections">
            <h2 class="text-center mt-6" v-text="section.name"></h2>
            <div class="d-flex justify-center flex-wrap">
              <v-hover v-for="app in section.apps" v-slot="{ hover }">
                <v-card class="mx-3 my-6" width="250" min-width="250" :href="app.link">
                  <v-responsive :aspect-ratio="1" class="text-center align-center">
                    <v-img v-if="app.image" aspect-ratio="1" :src="app.image"></v-img>
                    <v-icon v-else size="100" :color="app.color ? app.color : 'green darken-2'">
						{{ app.icon ? app.icon : 'mdi-application' }}
					</v-icon>
                  </v-responsive>

                  <v-card-title v-text="app.name"></v-card-title>

                  <v-card-text class="py-0">
                    <div v-text="app.description"></div>
                  </v-card-text>

                  <v-card-actions>
                    <v-btn color="deep-purple lighten-2" text :href="app.link">
                      Go
                    </v-btn>
                  </v-card-actions>

                  <v-expand-transition>
                    <v-card v-if="hover" class="transition-fast-in-fast-out v-card--reveal" style="height: 100%">
                      <v-card-title v-text="app.name"></v-card-title>

                      <v-card-text class="py-0">
                        <div v-text="app.description"></div>
                        <!-- <iframe :src="app.link"></iframe> -->
                      </v-card-text>
                    </v-card>
                  </v-expand-transition>
                </v-card>
              </v-hover>
            </div>

          </template>

        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="./assets/vue.min.js"></script>
  <script src="./assets/vuetify.min.js"></script>
  <script src="./config.js"></script>
  <script>

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: function () {
        return {
			homepage: {
				drawer: null,
				
			},
          sections: [
            {
              name: 'Apps & Tools',
              apps: [
                {
                  name: 'Interest Calculator',
                  link: 'InterestCalculator/index.html',
                  description: 'Công cụ tính lãi suất, chuyển đổi lãi suất',
                  color: '',
                  icon: 'mdi-calculator',
                  image: '',
                },
                {
                  name: 'Crawler',
                  link: 'Javascript/crawler.js',
                  description: 'Công cụ crawler từ web sử dụng javascript',
                  color: 'cyan darken-2',
                  icon: 'mdi-language-javascript',
                  image: '',
                },
                {
                  name: 'JSON Formatter',
                  link: 'Javascript/json-formatter/index.html',
                  description: 'Simple JSON Formatter using javascript',
                  color: 'pink darken-2',
                  icon: 'mdi-code-json',
                  image: '',
                },
                {
                  name: 'Encode/Decode Tools',
                  link: 'Javascript/encode-decode/index.html',
                  description: 'Encode/Decode base64; decode base64 to image; remove letter and number using javascript; Bỏ dấu tiếng việt',
                  color: 'yellow darken-3',
                  icon: 'mdi-language-javascript',
                  image: '',
                },
                {
                  name: 'QRCode Encode/Decode tool',
                  link: 'Javascript/qrcode-master/index.html',
                  description: 'Encode text to QRCode image or Decode QRCode image to text',
                  color: 'grey darken-2',
                  icon: 'mdi-qrcode',
                  image: '',
                },
                {
                  name: 'Javadoc to table tools',
                  link: 'Javascript/genjavadoctool/genjavadoctool.html',
                  description: 'Convert from java doc to table format (need run on server)',
                  color: 'blue darken-2',
                  icon: 'mdi-language-java',
                  image: '',
                },
				{
                  name: 'ToastUI Markdown Editor',
                  link: 'Javascript/ToastUIMarkdownEditor/index.html',
                  description: 'WYSIWYG Markdown Editor with plugins (chart, diagram)',
                  color: 'grey darken-2',
                  icon: 'mdi-language-markdown-outline',
                  image: '',
                },
              ]
            },
            {
              name: 'Design',
              apps: [
                {
                  name: 'Vuetify Section HTML Templates',
                  link: 'VuetifySectionTemplates/index.html',
                  description: 'HTML Templates theo từng section: Hero, Header, Features, ...',
                  color: 'blue darken-2',
                  icon: 'mdi-vuetify',
                  image: '',
                },
                {
                  name: 'HTML Templates',
                  link: 'HtmlTemplates/index.html',
                  description: 'HTML Templates using iframe',
                  color: 'purple',
                  icon: 'mdi-iframe-braces-outline',
                  image: '',
                },
                {
                  name: 'Material Color Palette',
                  link: 'CSS/Color-Material-UI.pdf',
                  description: 'Bảng màu theo thiết kế Material Design',
                  color: 'teal',
                  icon: 'mdi-format-color-fill',
                  image: '',
                },
                {
                  name: 'Color Palette Collection',
                  link: 'CSS/color.html',
                  description: 'Bảng màu thu thập từ nhiều nguồn',
                  color: 'brown',
                  icon: 'mdi-format-color-fill',
                  image: '',
                },
                {
                  name: 'Elementor Template 1',
                  link: 'HtmlTemplates/Elementor%20templates%201%20-%20Green%20Agri.html',
                  description: 'Wordpress elementor template',
                  color: 'red',
                  icon: 'mdi-language-html5',
                  image: '',
                },
                {
                  name: 'Elementor Template 2',
                  link: 'HtmlTemplates/Elementor%20templates%202%20-%20Green%20Agri.html',
                  description: 'Wordpress elementor template',
                  color: 'red',
                  icon: 'mdi-language-html5',
                  image: '',
                },
                {
                  name: 'CSS Image Hover Effects',
                  link: 'CSS/imageHoverAnimation.html',
                  description: 'Zoom In, Zoom Out, Slide, Rotate, Blur, Gray Scale, Sepia, Opacity, Flashing, Shine, Circle',
                  color: 'blue darken-3',
                  icon: 'mdi-language-css3',
                  image: '',
                },
                {
                  name: 'PhotoSwipe JavaScript gallery',
                  link: 'Javascript/PhotoSwipe/index.html',
                  description: 'Javascript gallery',
                  color: 'deep-purple',
                  icon: 'mdi-image-multiple-outline',
                  image: '',
                },
				{
                  name: 'CSS Tips',
                  link: 'CSS/csstips.html',
                  description: 'Super centered',
                  color: 'blue darken-3',
                  icon: 'mdi-language-css3',
                  image: '',
                },
				{
                  name: 'CSS Layout',
                  link: 'https://csslayout.io/',
                  description: 'csslayout.io A collection of popular layouts and patterns made with CSS',
                  color: 'blue darken-3',
                  icon: 'mdi-language-css3',
                  image: '',
                },
              ]
            },
            {
              name: 'Learning',
              apps: [
                {
                  name: 'AI Wiki',
                  link: 'WikiMindMap/public/index.html',
                  description: 'AI Wikipedia for quick reference and learning',
                  color: 'grey',
                  icon: 'mdi-brain',
                  image: '',
                },
				{
                  name: 'Wiki Markdown (Mkdocs Material)',
                  link: 'https://chucnxwork.github.io/se-notebook/',
                  description: 'Wiki from Markdown',
                  color: 'grey darken-2',
                  icon: 'mdi-language-markdown-outline',
                  image: '',
                },
              ]
            },
            {
              name: 'English',
              apps: [
                {
                  name: 'BBC World Service Radio',
                  link: 'BBCWorldService/BBCWorldService.html',
                  description: 'BBC World Service Radio',
                  color: 'green',
                  icon: 'mdi-radio',
                  image: '',
                },
              ]
            },
			{
				name: 'Game',
				apps: [
					{
						name: '2048',
						link: 'https://chucnxwork.github.io/2048/',
						description: 'Join the numbers and get to the 2048 tile!',
						color: 'green darken-2',
						icon: 'mdi-gamepad-variant',
						image: '',
					},
					{
						name: 'Clumsy bird',
						link: 'https://chucnxwork.github.io/clumsy-bird/',
						description: 'A MelonJS port of the famous Flappy Bird Game',
						color: 'green darken-2',
						icon: 'mdi-gamepad-variant',
						image: '',
					},
					{
						name: 'Hextris',
						link: 'https://chucnxwork.github.io/hextris/',
						description: 'Fast paced HTML5 puzzle game inspired by Tetris!',
						color: 'green darken-2',
						icon: 'mdi-gamepad-variant',
						image: '',
					},
					{
						name: 'Connect 4',
						link: 'https://kenrick95.github.io/c4/',
						description: 'Connect Four game in JS + Canvas',
						color: 'green darken-2',
						icon: 'mdi-gamepad-variant',
						image: '',
					},
          {
						name: '0hh1',
						link: 'https://chucnxwork.github.io/0hh1/',
						description: 'A lovely little logic game by Q42.',
						color: 'green darken-2',
						icon: 'mdi-gamepad-variant',
						image: '',
					},
          {
						name: 'Tetris',
						link: 'https://codeincomplete.com/games/tetris/',
						description: 'A simple javascript tetris game',
						color: 'green darken-2',
						icon: 'mdi-gamepad-variant',
						image: '',
					},
          {
						name: 'Minesweeper',
						link: 'https://muan.github.io/emoji-minesweeper/',
						description: 'A simple javascript minesweeper game',
						color: 'green darken-2',
						icon: 'mdi-gamepad-variant',
						image: '',
					},
				]
            },
            {
              name: 'Others',
              apps: [
                {
                  name: 'Calm Meditation',
                  link: 'Calm/Calm.html',
                  description: 'Calm music for meditation',
                  color: 'green darken-2',
                  icon: 'mdi-meditation',
                  image: '',
                },
              ]
            },
          ]
        }
      }
    })
  </script>
</body>

</html>
